form {
	width: 50%;
	margin: 0 auto;
  padding: 2%;
  background-color: #fffcd6;
  border-radius: 40px;
  margin-top: 10%;
}

img {
	  border-radius: 100%;
    width: 200px;
}


#follower_list {
	margin: 0 auto;
    width: 50%;
    padding: 25px;
}

.more_button {
  margin-top: 0 auto;
  float: right;
}